.battleContainer{
    border: solid black;
    /*display: flex; */
    /* padding: 2px; change this later */
}

.enemiesContainer {
    border: solid red;
    height: 54vh;
    /* padding: 10px; */
    display: flex;
    justify-content: space-evenly; /* space-between looks fine also */
    background-image: url("https://res.cloudinary.com/simpleview/image/upload/v1651858755/clients/indiana/87A6309_d394276f-0e3a-4b0c-ac57-5be715429968.jpg");
    background-size: cover;
}

.cardsContainer {
    border: solid green;
    height: 15vh;
    display: flex;
    justify-content: space-between;
}

.card {
    border: solid gold;
    width: 18.5%;
    text-align: center;
}

.card:hover {
    width: 22%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.partyContainer {
    border: solid blue;
    height: 15vh;
    background-image: url("https://toppng.com/uploads/preview/park-bench-cartoon-11553201353bx9hzla9oa.png");
    /* background-size: contain; */
    background-size: 50%;
}

.messageLogContainer{
    border: solid gray;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y:auto; /* https://stackoverflow.com/questions/2836827/how-do-you-add-a-scroll-bar-to-a-div */
}

.enemy {
    border: solid orange;
    background-color: red;
    height: 25vh;
}

 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } 