.battleContainer{
    border: solid black;
    /*display: flex; */
    /* padding: 2px; change this later */
}

.enemiesContainer {
    border: solid red;
    height: 54vh;
    /* padding: 10px; */
    display: flex;
    justify-content: space-evenly; /* space-between looks fine also */
}

.cardsContainer {
    border: solid green;
    height: 15vh;
}

.partyContainer {
    border: solid blue;
    height: 15vh;
}

.messageLogContainer{
    border: solid gray;
    height: 10vh;
}

.enemy {
    border: solid orange;
}