.battleContainer{
    border: solid black;
    /*display: flex; */
    /* padding: 2px; change this later */
}

.enemiesContainer {
    border: solid red;
    height: 54vh;
    /* padding: 10px; */
    display: flex;
    justify-content: space-evenly; /* space-between looks fine also */
}

.cardsContainer {
    border: solid green;
    height: 15vh;
    display: flex;
    justify-content: space-between;
}

.card {
    border: solid gold;
    width: 18.5%;
    text-align: center;
}

.card:hover {
    width: 22%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.partyContainer {
    border: solid blue;
    height: 15vh;
}

.messageLogContainer{
    border: solid gray;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y:auto; /* https://stackoverflow.com/questions/2836827/how-do-you-add-a-scroll-bar-to-a-div */
}

.enemy {
    border: solid orange;
}